echo 'Emperor Norton Commands / ddate'

watch_file .direnv/.env_project.dist
watch_file .direnv/.env_project
source_env .direnv/.env_project.dist
if [[ -f ".direnv/.env_project" ]]; then
    source_env .direnv/.env_project
fi
